In [ ]:
# Data Types and Structure Theorytical questions and answers

1. What are data structures and why are they important ?

  Ans. Data structures are ways of organizing, storing, and managing data in a computer so that it can be accessed and modified efficiently. They provide a means to perform operations such as insertion, deletion, updating, searching, and traversing data.

  In simpler terms, a data structure is like a container that holds data in a specific format, and the type of container you choose can have a huge impact on how efficiently you can work with that data. Example Array , list , linked list , Trees Etc.

2. Difference between mutable and immutable data types ?

  Ans. mutable and immutable refer to whether the state or value of a data object can be changed after it is created.

   Mutable objects can be modified after they are created. Immutable objects cannot be modified after they are created; any operation that alters an immutable object results in the creation of a new object.
   Mutable example - list , Array sets . Immutable examples - Touple

3. Difference between list and touple ?

  Ans. In Python, lists are mutable, meaning their elements can be modified, added, or removed after creation. This makes them more flexible for situations where you need to change the contents of the collection. Lists are defined using square brackets [ ], and they come with several methods like append(), remove(), and extend() to manipulate the data. However, this flexibility comes at the cost of higher memory usage and slightly slower performance compared to tuples.

  Tuples are immutable, meaning once created, their contents cannot be altered. Tuples are defined using parentheses ( ), and any attempt to modify their elements results in an error. Because of their immutability, tuples are generally faster and more memory-efficient, making them ideal for use cases where the data should remain constant, such as storing coordinates or passing data between functions. Tuples are also hashable, which means they can be used as keys in dictionaries, unlike lists.

4. How data is store in Dictionary ?

  Ans. A dictionary in Python stores data in key-value pairs. Each piece of data (value) is associated with a unique identifier called a key. You can think of a dictionary like a real-world phonebook, where the name (key) maps to a phone number (value).

5. Set Vs list ?

  Ans. A set in Python is used instead of a list when you need to store only unique elements and avoid duplicates. Sets are faster for checking if an item exists, as they allow for quicker membership tests. Additionally, sets support useful mathematical operations like union and intersection, which lists don't offer directly.

6. What is string in python and how it is different from a list?

  Ans. A string in Python is a sequence of characters (like words or sentences) and cannot be changed once created. A list is a collection of items (such as numbers or strings) that can be modified, meaning you can add, remove, or change elements in a list. The main difference is that strings are unchangeable, while lists are changeable.

7. How touple ensure data intigrity in python?
  Ans. Tuples in Python are like boxes that you can put things in, but once you close the box, you can't change what's inside. This helps keep your data safe from accidental changes. They're great for storing fixed information that shouldn't be altered later.


8. what is hash table and how it is realted to dictionary in python?

  Ans. A hash table is a way to store data in pairs of keys and values, where a special function (called a hash function) turns each key into a unique number that decides where the pair will be stored. This allows for quick lookups, insertions, and deletions. In Python, dictionaries work using hash tables. When you use a dictionary, Python automatically uses a hash function to manage the keys and quickly find the corresponding values, making dictionary lookups very fast.


9. Can lists contain different data types in Python?

  Yes, lists in Python can store elements of different types, like numbers, strings, and even other lists or objects. This flexibility allows you to store varied data in one list.
Example: my_list = [1, "hello", 3.14, [2, 3]]

10. Explain why strings are immutable in Python.

  Strings are immutable, meaning once created, their content cannot be changed. This ensures that strings are more efficient and safe in programs, especially when shared across different parts of the program.
  Example: If you try to change a character in a string like s[0] = "H", Python will throw an error because strings cannot be modified.

11. What advantages do dictionaries offer over lists for certain tasks?

  Dictionaries allow you to store data in key-value pairs, making it faster to retrieve a value using a unique key rather than searching through a list. They are great for tasks that require quick lookups.
  Example: If you want to map a name to a phone number, you can use a dictionary like this: phonebook = {"Alice": "12345", "Bob": "67890"}

12. Describe a scenario where using a tuple would be preferable over a list.

  Tuples are used when you want to store data that should not be changed after creation. This makes them useful for fixed data like coordinates or days of the week.
  Example: coordinates = (10, 20) – You wouldn’t want to change these values once set.

13. How do sets handle duplicate values in Python?
  Sets automatically remove duplicate values. If you try to add a duplicate value, it will be ignored, ensuring all elements in a set are unique.
  Example: my_set = {1, 2, 2, 3} – The set will become {1, 2, 3} as duplicates are removed.

14. How does the “in” keyword work differently for lists and dictionaries?
  In a list, the "in" keyword checks if a specific value is present. In a dictionary, it checks whether a key exists. In lists, it searches through the entire list; in dictionaries, it checks the key directly.
  Example: For a list, 3 in [1, 2, 3] returns True, and for a dictionary, 'name' in {"name": "Alice"} returns True.

15. Can you modify the elements of a tuple? Explain why or why not.
  No, tuples are immutable, meaning you cannot change, add, or remove elements after creation. This makes tuples safer and more efficient for fixed data.
  Example: Trying my_tuple[0] = 10 will result in an error because tuples cannot be changed.

16. What is a nested dictionary, and give an example of its use case?
  A nested dictionary is a dictionary where the values are other dictionaries. This allows you to organize data in a hierarchical way.
  Example: students = {"Alice": {"age": 20, "grade": "A"}, "Bob": {"age": 22, "grade": "B"}} – Each student's details are stored in a nested dictionary.

17. Describe the time complexity of accessing elements in a dictionary.

  Accessing an element in a dictionary is very fast, with an average time complexity of O(1), meaning it takes constant time to get the value when you know the key.
  Example: student = {"name": "Alice", "age": 20} – Accessing student["name"] is done in constant time.

18. In what situations are lists preferred over dictionaries?

  Lists are preferred when you need to maintain the order of items or work with sequences where the position of elements matters.
  Example: A list of numbers [1, 2, 3, 4] is used when you need to maintain the sequence and order of the items.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

  Dictionaries are unordered because they don’t store items in the order they were added. This means you cannot rely on the order when retrieving data, but you can quickly access values using keys.
  Example: my_dict = {"a": 1, "b": 2} – The order of keys doesn’t matter when you access them, like my_dict["a"] or my_dict["b"].

20. Explain the difference between a list and a dictionary in terms of data retrieval.

  In a list, you retrieve data by its index position, while in a dictionary, you retrieve data using keys. Lists are ordered, so you can access elements based on their position; dictionaries are faster for looking up values by key.
  Example: In a list, my_list[1] gives you the second item, while in a dictionary, my_dict["key"] gives you the value associated with that key.

In [ ]:
#Practical Questions and Answers .

In [4]:
# 1. Create a string with your name and print it
my_name = "Parth "
print(my_name)

Parth

In [5]:
# 2. Find the length of the string "Hello World"
string_length = len("Hello World")
print(string_length)

11

In [6]:
# 3. Slice the first 3 characters from the string "Python Programming"
sliced_string = "Python Programming"[:3]
print(sliced_string)

Pyt

In [7]:
# 4. Convert the string "hello" to uppercase
uppercase_string = "hello".upper()
print(uppercase_string)

HELLO

In [8]:
# 5. Replace the word "apple" with "orange" in the string "I like apple"
replaced_string = "I like apple".replace("apple", "orange")
print(replaced_string)

I like orange

In [9]:
# 6. Create a list with numbers 1 to 5 and print it
numbers_list = [1, 2, 3, 4, 5]
print(numbers_list)

[1, 2, 3, 4, 5]

In [10]:
# 7. Append the number 10 to the list [1, 2, 3, 4]
updated_list = [1, 2, 3, 4]
updated_list.append(10)
print(updated_list)

[1, 2, 3, 4, 10]

In [12]:
# 8. Remove the number 3 from the list [1, 2, 3, 4, 5]
removal_list = [1, 2, 3, 4, 5]
removal_list.remove(3)
print(removal_list)

[1, 2, 4, 5]

In [13]:
# 9. Access the second element in the list ['a', 'b', 'c', 'd']
second_element = ['a', 'b', 'c', 'd'][1]
print(second_element)

b

In [16]:
# 10. Reverse the list [10, 20, 30, 40, 50]
reversed_list = [10, 20, 30, 40, 50][::-1]
print(reversed_list)

[50, 40, 30, 20, 10]

In [20]:
# 11. Create a tuple with the elements 10, 20, 30 and print it
parth_tuple = (10, 20, 30)
print(parth_tuple)

(10, 20, 30)

In [21]:
# 12. Access the first element of the tuple ('apple', 'banana', 'cherry')
first_element = ('apple', 'banana', 'cherry')[0]
print(first_element)

apple

In [22]:
# 13. Count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)
count_of_two = (1, 2, 3, 2, 4, 2).count(2)
print(count_of_two)

3

In [23]:
# 14. Find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
cat_index = ('dog', 'cat', 'rabbit').index("cat")
print(cat_index)

1

In [24]:
# 15. Check if the element "banana" is in the tuple ('apple', 'orange', 'banana')
is_banana_present = "banana" in ('apple', 'orange', 'banana')
print(is_banana_present)

True

In [25]:
# 16. Create a set with the elements 1, 2, 3, 4, 5 and print it
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

In [26]:
# 17. Add the element 6 to the set {1, 2, 3, 4}
updated_set = {1, 2, 3, 4}
updated_set.add(6)
print(updated_set)

{1, 2, 3, 4, 6}

In [27]:
# 18. Create a tuple with the elements 10, 20, 30 and print it
my_tuple_again = (10, 20, 30)
print(my_tuple_again)

(10, 20, 30)

In [28]:
# 19. Access the first element of the tuple ('apple', 'banana', 'cherry')
first_element_again = ('apple', 'banana', 'cherry')[0]
print(first_element_again)

apple

In [29]:
# 20. Count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)
count_of_two_again = (1, 2, 3, 2, 4, 2).count(2)
print(count_of_two_again)

3

In [30]:
# 21. Find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
cat_index_again = ('dog', 'cat', 'rabbit').index("cat")
print(cat_index_again)

1

In [ ]:
# 22. Check if the element "banana" is in the tuple ('apple', 'orange', 'banana')
is_banana_present_again = "banana" in ('apple', 'orange', 'banana')
print(is_banana_present_again)

In [31]:
# 23. Create a set with the elements 1, 2, 3, 4, 5 and print it
my_set_again = {1, 2, 3, 4, 5}
print(my_set_again)

{1, 2, 3, 4, 5}

In [32]:
# 24. Add the element 6 to the set {1, 2, 3, 4}
updated_set_again = {1, 2, 3, 4}
updated_set_again.add(6)
print(updated_set_again)

{1, 2, 3, 4, 6}